
body{
	margin: 0;
	padding: 0;
}

.page{
	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: sans-serif;
	background-color: #E0E7D9;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: 80px 1fr;
	
	align-items: center;
}

.logo{
	padding: 10px;
	grid-column: 1/2;
	grid-row: 1/2;
	grid-auto-rows: minmax(1fr, auto);
	font-family: cursive;
	color: #485DA0;
	text-shadow: 5px 5px 5px #BADAE7;
	
	
}
.nav{
	margin-top: 10px;
	padding: 10px;
	padding-left: 5vw;
	grid-template-columns: 50px, 1fr;
	grid-column: 2/7;
	grid-row: 1/2;
	grid-auto-rows: minmax(1fr, auto);
	
	
}
nav span{
	margin-right: 10px;
	padding: 0px 5px;
	float: left;
	background-color: #A090D8;
	border-radius: 7px;
}
.button1{
	color: white;
	background-color: #000;
	border-radius: 7px;
}
.button2{
	color: black;
	background-color: #fff;
	border-radius: 7px;
}
.main{
	padding: 10px;
	grid-column: 2/6;
	grid-auto-rows: minmax(1fr, auto);
	grid-row: 2/3;
	word-wrap: break-word;
	
}
.footer{
	padding: 10px;
	grid-column: 2/7;
	grid-row: 3/4;
	
}
.footer > span{
	padding-right: 50px;
	font-size: 1.2em;
}
.contact1{
	color: #000;
	text-decoration: none;
}
.contact2{
	color: #000;
	text-decoration: none;
}
.img:hover{
	position: relative;
	height: auto;
	transform: scale(1.59);
	left: 100wh;
}	
.myImg{
	padding: 1px;
	justify-items: center;
	grid-column: 6/8;
	grid-rows: 2/3;
	
}
.myImg>img{
	min-height: auto;
	max-height: 100%;
	max-width: 320px;

}